<h2 class="page-header">Profilim</h2>
<div class="container" *ngIf="user" >
<ul class="list-group">
  <li class="list-group-item"><strong>Kullanıcı Adım:</strong> {{ user.username }}</li>
  <li class="list-group-item"><strong>E-Mail:</strong> {{ user.email }}</li>
</ul>
</div>
