<br/>
<div class="jumbotron text-center">
    <h1><strong><i>sözlüksss</i></strong></h1>
    <p class="lead" *ngIf="!authService.loggedIn()">
      Başlıkları görebilmek için şimdi giriş yapın! Hesabınız yok mu? Hemen bir tane de sana açalım!</p>
    <p class="lead"  *ngIf="!!authService.loggedIn()">Başlıkları görebilmek için tıklayınız.</p>
    <div>
      <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Kayıt Ol!</a>
      <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Giriş Yap</a>
      <a *ngIf="!!authService.loggedIn()" routerLink="/blog" class="btn btn-success">Başlıklar</a>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../../../assets/images/Dehk33x-_400x400.jpg" alt="placeholder image" width="140" height="140">
        <div class="caption">
          <h3>MongoDB</h3>
          <p>MongoDB; MongoDB Inc. tarafından ölçeklenebilir, doküman tabanlı, C++ ile geliştirilmiş açık kaynak, NoSQL veritabanı uygulamasıdır.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="../../../assets/images/06b9ed56-ced3-4078-bfc8-ca0055a69d61.png" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>ExpressJS</h3>
          <p>Express.js Node.js tabanlı web uygulama sunucu çatısıdır. Express.js, tek sayfa, çoklu sayfa ve hibrit web uygulamaları geliştirmeye yönelik tasarlanmıştır.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="../../../assets/images/Angular_full_color_logo.svg.png" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>Angular</h3>
          <p>Angular, Google'daki Angular Team ve bireyler ve şirketler topluluğu tarafından yönetilen, TypeScript tabanlı bir açık kaynaklı web uygulama çerçevesidir.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class=thumbnail> <img src="../../../assets/images/node-stack-220x234-13e818133cafaaa6f15888e1f94a9e6a.png" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>NodeJS</h3>
          <p>Node.js, açık kaynaklı, sunucu tarafında çalışan ve ağ bağlantılı uygulamalar için geliştirilmiş bir çalıştırma ortamıdır.</p>
        </div>
      </div>
    </div>
