<h1 class="page-header">Kayıt Ol!</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" (submit)="onRegisterSubmit()">

  <div class="form-group">
    <label for="username">Kullanıcı Adı</label>
    <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) ||
     (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
      <input type="text" name="username" class="form-control" autocomplete="off"
       placeholder="*Kullanıcı adınızı giriniz." formControlName="username" (blur)="checkUsername()"  />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="!!form.controls.username.errors?.required && !!form.controls.username.dirty">Bu alan gerekli.</li>
        <li *ngIf="!!form.controls.username.errors?.minlength && !!form.controls.username.dirty ||
         !!form.controls.username.errors?.maxlength && !!form.controls.username.dirty ">
         En az: 3 karakter, En fazla: 15 karakter</li>
        <li *ngIf="!!form.controls.username.errors?.validateUsername &&
         !!form.controls.username.dirty">Kullanıcı adı özel karakter içermemelidir.</li>
        <li *ngIf="usernameMessage">{{ usernameMessage }}</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-Mail</label>
    <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) ||
     (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
      <input type="text" name="email" class="form-control"
       autocomplete="off" placeholder="*E-Mail giriniz." formControlName="email" (blur)="checkEmail()" />
      <ul class="help-block">
        <li *ngIf="!!form.controls.email.errors?.required && !!form.controls.email.dirty">Bu alan gerekli.</li>
        <li *ngIf="(!!form.controls.email.errors?.minlength && !!form.controls.email.dirty ||
         !!form.controls.email.errors?.maxlength && !!form.controls.email.dirty ) && !!form.controls.email.dirty">
         En az: 5 karakter, En fazla: 30 karakter</li>
        <li *ngIf="!!form.controls.email.errors?.validateEmail && !!form.controls.email.dirty">Geçerli bir mail adresi olmalı.</li>
        <li *ngIf="emailMessage">{{ emailMessage}}</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Şifre</label>
    <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty),
     'has-success': !form.controls.password.errors}">
      <input type="password" name="password" class="form-control" autocomplete="off"
      placeholder="*Şifrenizi giriniz" formControlName="password" />
      <ul class="help-block">
        <li *ngIf="!!form.controls.password.errors?.required && !!form.controls.password.dirty">Bu alan gerekli.</li>
        <li *ngIf="!!form.controls.password.errors?.minlength && !!form.controls.password.dirty ||
         !!form.controls.password.errors?.maxlength && !!form.controls.password.dirty ">
         En az: 8 karakter, En fazla: 35 karakter</li>
        <li *ngIf="!!form.controls.password.errors?.validatePassword &&
         !!form.controls.password.dirty">Şifrenizde en az bir sayı, en az bir büyük harf ve en az bir sembol olmalı.</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="confirm">Şifreyi Doğrula</label>
    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" name="confirm" class="form-control" autocomplete="off"
       placeholder="*Şifrenizi tekrar girin." formControlName="confirm" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="!!form.controls.confirm.errors?.required && !!form.controls.confirm.dirty">Bu alan gerekli.</li>
        <li *ngIf="!!form.errors?.matchingPasswords && !!form.controls.confirm.dirty">Şifreler aynı değil!</li>
      </ul>
    </div>
  </div>
  <input [disabled]="!form.valid || processing || !emailValid || !usernameValid"
   type="submit" class="btn btn-primary" value="Kayıt Ol!" />

</form>
