<h1 class="page-header">Profil</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<ul *ngIf="!!foundProfile" class="list-group">
  <li class="list-group-item"><strong>Kullanıcı Adı: </strong>{{ username }}</li>
  <li class="list-group-item"><strong>E-Mail: </strong>{{ email }}</li>
</ul>
