<h1 class="page-header">Başlığı Düzenle</h1>
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form (submit)="updateBlogSubmit()" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Başlık</label>
    <input [disabled]="processing" type="text" name="title" placeholder="*Başlığı yazınız."
     class="form-control" [(ngModel)]="blog.title" />
  </div>

  <div class="form-group">
    <label for="body">İçerik</label>
    <textarea [disabled]="processing" name="body" rows="8" cols="80"
    [(ngModel)]="blog.body" class="form-control" placeholder="*İçeriği yazınız."></textarea>
  </div>


  <a [routerLink]="['/delete-blog/', blog._id]"><button
     [disabled]="processing"  type="button" name="button" class="btn btn-danger">Sil</button></a>
  <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Geri Dön</button>
  <button [disabled]="processing" type="submit" name="save" class="btn btn-info">Değişiklikleri Kaydet</button>

</form>
