<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" routerLink="/"><strong><i>sözlüksss</i></strong></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Ana Sayfa</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a *ngIf="!!authService.loggedIn()" routerLink="/profile">Profilim</a></li>
          <li><a *ngIf="!!authService.loggedIn()" routerLink="/blog">Başlıklar</a></li>
          <li><a *ngIf="!authService.loggedIn()" routerLink="/login">Giriş Yap</a></li>
          <li><a *ngIf="!!authService.loggedIn()" href="#" (click)="onLogoutClick()">Çıkış Yap</a></li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Kayıt Ol!</a></li>
        </ul>
      </div>
    </div>
  </nav>
