<h1 class="page-header">Başlık Sil</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="col-md-6" *ngIf="foundBlog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Kabul Et</h4>
    </div>
    <div class="modal-body">
      <p>Bu başlığı silmek istediğinizden emin misiniz?</p>
    </div>
    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteBlog()">Evet</button>
      <a routerLink="/blog"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Hayır</button></a>
    </div>
  </div>

  <br />

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.title }}</h3>
    </div>

    <div class="panel-body">
      {{ blog.body }}
    </div>

    <div class="panel-footer">
      <strong>Paylaşan: </strong> {{ blog.createdBy }}
      <br />
      <strong>Tarih: </strong> {{ blog.createdAt | date:'MMM dd, yyyy' }}
    </div>
  </div>

</div>
