<h2 class="page-header">Giriş Yap</h2>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" (submit)="onLoginSubmit()">

  <div class="form-group">
    <label for="username">Kullanıcı Adınız:</label>
    <div [ngClass]="{'has-error': form.controls.username.errors && form.controls.username.dirty,
     'has-success': form.controls.username.valid && form.controls.username.dirty }">
      <input class="form-control" type="text" name="username" formControlName="username" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="!!form.controls.username.errors?.required && !!form.controls.username.dirty">Bu alan gerekli.</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Şifreniz:</label>
    <div [ngClass]="{'has-error': form.controls.password.errors &&
     form.controls.password.dirty, 'has-success': form.controls.password.valid && form.controls.password.dirty }">
      <input class="form-control" type="password" name="password" formControlName="password" />
      <ul class="help-block">
        <li *ngIf="!!form.controls.password.errors?.required && !!form.controls.password.dirty">Bu alan gerekli.</li>
      </ul>
    </div>
  </div>
  <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Giriş Yap" />
</form>
